@using Blog.Core.Models
@using Blog.WebApp.Widgets
@model Blog.WebApp.ViewModels.AddPostForm

@{
    ViewBag.Title = "AddPost";
}

<div class="content-bg">
    <h2>AddPost</h2>

    @using (Html.BeginForm("AddPost", "Admin", FormMethod.Post))
    {
    <fieldset>
        <legend>Add Post</legend>
        <p>
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title)
            @Html.ValidationMessageFor(m => m.Title)
        </p>

        <p>
            @Html.LabelFor(m => m.ShortDescription)
            @Html.TextAreaFor(m => m.ShortDescription, htmlAttributes: new { id = "short-description-editor" })
        </p>

        <p>
            @Html.LabelFor(m => m.Content)
            @Html.TextAreaFor(m => m.Content, htmlAttributes: new { id = "content-editor" })
        </p>

        <p>
            @Html.CategoryDropDownListFor(m => m.CategoryId, (IEnumerable<Category>)ViewData["Categories"])
        </p>

        <p>
            <input type="submit" value="Add post" />
        </p>
    </fieldset>
    }
</div>

<script>
    $(document).ready(function () {
        $('#short-description-editor').summernote();
        $('#content-editor').summernote();
    });
</script>
