@model Blog.WebApp.ViewModels.Forms.AddPostForm

@{
    ViewBag.Title = "Nowy post";
}

<div class="content-bg p-5">
    <h2>Nowy post</h2>

    @using (Html.BeginForm("AddPost", "Admin", FormMethod.Post))
    {
        <div class="row mt-4">
            @Html.LabelFor(m => m.Title)
        </div>
        <div class="row">
            @Html.TextBoxFor(m => m.Title, htmlAttributes: new { @class = "form-control col-12" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>

        <div class="row mt-4">
            @Html.LabelFor(m => m.CategoryId)
        </div>
        <div class="row">
            @Html.CategoryDropDownListFor(m => m.CategoryId, Model.Categories)
        </div>

        <div class="row mt-4">
            @Html.LabelFor(m => m.TagIds)
        </div>
        <div class="row">
            @Html.TagListBoxFor(m => m.TagIds, Model.Tags)
        </div>

        <div class="row mt-4">
            @Html.LabelFor(m => m.ShortDescription)
            &nbsp;
            @AdminOnly.CustomContent(Html.ImagesLink("[przeglądaj grafiki]", openInNewTab: true))
        </div>
        <div class="row">
            <div class="w-100">
                @Html.TextAreaFor(m => m.ShortDescription, htmlAttributes: new { id = "short-description-editor" })
            </div>
        </div>

        <div class="row mt-4">
            @Html.LabelFor(m => m.Content)
            &nbsp;
            @AdminOnly.CustomContent(Html.ImagesLink("[przeglądaj grafiki]", openInNewTab: true))
        </div>
        <div class="row">
            <div class="w-100">
                @Html.TextAreaFor(m => m.Content, htmlAttributes: new { id = "content-editor" })
            </div>
        </div>
        
        <div class="form-group text-center">
            <button type="submit" class="btn">Submit</button>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $('#short-description-editor').summernote({
            height: 100,
            followingToolbar: false
        });
        $('#content-editor').summernote({
            height: 300,
            followingToolbar: false
        });
    });
</script>
