@model Blog.WebApp.ViewModels.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Scripts.Render("~/Content/external/js")
</head>

<body>
    <div id="login-div">
        @Html.ValidationSummary(true)

        @using (Html.BeginForm())
        {
        <fieldset>
            <legend>Login</legend>
            <table>
                <tr>
                    <td>@Html.LabelFor(m => m.UserName)</td>
                    <td>@Html.TextBoxFor(m => m.UserName)</td>
                    <td>@Html.ValidationMessageFor(m => m.UserName)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(m => m.Password)</td>
                    <td>@Html.PasswordFor(m => m.Password)</td>
                    <td>@Html.ValidationMessageFor(m => m.Password)</td>
                </tr>
            </table>

            @Html.Hidden("ReturnUrl")
            @Html.AntiForgeryToken()
            <p>
                <input type="submit" value="Login" />
            </p>
        </fieldset>
        }
    </div>
</body>
</html>
