@{
    ViewBag.Title = Resources.About;
}

<div class="container content-bg p-4">
    <p>
        <h2>@Resources.About</h2>
    </p>
    <p>
        @Resources.AboutPart1
    </p>
    <p class="text-center">
        <img src="@Url.Content("~/Content/themes/orange/images/mapa.jpg")" class="w-75"/>
    </p>
    <p>
        @Resources.AboutPart2
    </p>
    <p>
        @Resources.AboutPart3
    </p>
    <p>
        @Resources.AboutPart4 &#8594; <a href="mailto:szpilkapomapie@gmail.com">szpilkapomapie@gmail.com</a>
    </p>
</div>
