@model Blog.WebApp.ViewModels.PostsViewModel

<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active image-border">
            <img class="d-block w-100 img-responsive" src="@Url.Content("~/Content/themes/night_sky_2/images/baltictrip_1.jpg")" alt="First slide">
        </div>
        <div class="carousel-item image-border">
            <img class="d-block w-100  img-responsive" src="@Url.Content("~/Content/themes/night_sky_2/images/baltictrip_2.jpg")" alt="Second slide">
        </div>
        <div class="carousel-item image-border">
            <img class="d-block w-100  img-responsive" src="@Url.Content("~/Content/themes/night_sky_2/images/baltictrip_3.jpg")" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div id="content">
    
    @Html.Partial("_Pager", Model.PagerViewModel)

    @if (!string.IsNullOrEmpty(ViewBag.Title))
    {
        <div class="content-bg mb-2 p-2">
            <h2 class="m-0">@ViewBag.Title</h2>
        </div>
    }

    @if (Model.Posts.Count > 0)
    {
        foreach (var post in Model.Posts)
        {
            <div class="mt-2">@Html.Partial("_PostTemplate", post)</div>
        }
    }
    else
    {
        <p class="content-bg mb-2 p-2">No posts found!</p>
    }

    @Html.Partial("_Pager", Model.PagerViewModel)
</div>