@model Blog.Core.Models.Post

@{
    ViewBag.Title = Model.Title;
}

<div class="container post content-bg">
    <div class="p-4">
        <div class="row mb-3">
            <div class="col">
                <h2>@Html.PostLink(Model, Model.Title) @AdminOnly.EditPostLink(Html, Model)</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span>@Resources.Category: </span>@Html.CategoryLink(Model.Category)
            </div>

            <div class="col-auto text-right">
                @Model.PostedOn.ToFormattedDate()
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span>@Resources.Tags:</span>@Helpers.Tags(Html, Model.Tags)
            </div>
        </div>
    </div>
    <div class="p-4">
        @Html.Raw(Model.Content)
    </div>
</div>

