<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/external/css")
    @Styles.Render("~/Content/internal/css")
    @Scripts.Render("~/Content/external/js")
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="left-sidebar" class="col-3 mt-2 content-bg">
                @Html.Action("LeftSidebar", "Blog")
            </div>
            <div id="center-content" class="col-9 mt-2">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="footer" class="container">
        <div class="row mt-2 justify-content-center">
            @Resources.Copyright © @DateTime.Now.Year &nbsp; @Html.LoginLink(Resources.BlogName) &nbsp; @Resources.AllRightsReserved
        </div>
    </div>

    <script>
    $(document).ready(function () {
        $('.carousel').carousel();
    });
    </script>
</body>
</html>


