<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/external/css")
    @Styles.Render("~/internal/css")
    @Scripts.Render("~/external/js")
</head>
<body>
    <div id="header" class="container">
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                <img src="@Url.Content("~/Content/themes/night_sky_2/images/main-logo-3.png")" class="w-100" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                @*<ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        @Html.ActionLink("Posts", "Posts", "Blog", new { }, htmlAttributes: new { @class = "nav-link active" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contact", "Contact", "Blog", new { }, htmlAttributes: new { @class = "nav-link active" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("About Me", "AboutMe", "Blog", new { }, htmlAttributes: new { @class = "nav-link active" })
                    </li>
                </ul>*@
                <div class="btn-group d-flex" role="group">
                    @Html.ActionLink("Posts", "Posts", "Blog", new {}, htmlAttributes: new {@class = "btn btn-primary w-100  content-bg" })
                    @Html.ActionLink("Contact", "Contact", "Blog", new {}, htmlAttributes: new {@class = "btn btn-primary w-100 content-bg" })
                    @Html.ActionLink("About Me", "AboutMe", "Blog", new {}, htmlAttributes: new {@class = "btn btn-primary w-100 content-bg" })
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="left-sidebar" class="col-2 m-0 content-bg">
                @Html.Action("LeftSidebar", "Blog")
            </div>
            <div id="center-content" class="col-8 m-0">
                @RenderBody()
            </div>
            <div id="right-sidebar" class="col-2 m-0 content-bg">
                @Html.Action("RightSidebar", "Blog")
            </div>
        </div>
    </div>
    <div id="footer" class="container">
        Copyright © @DateTime.Now.Year BunnyBlog All Rights Reserved
    </div>
</body>
</html>
