<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/night_sky_2/css")
</head>
<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <h1><a href="/">Szpilką<span class="logo_colour"> Po Mapie</span></a></h1>
                    <h2>Writings, Experiments and More...</h2>
                </div>
            </div>
            <div id="menubar">
                <ul id="menu">
                    <li>@Html.ActionLink("Posts", "Posts", "Blog")</li>
                    <li>@Html.ActionLink("Contact", "Contact")</li>
                    <li>@Html.ActionLink("About Me", "AboutMe")</li>
                </ul>
            </div>
        </div>
        <div id="site_content">
            @RenderBody()
            @Html.Action("Sidebar", "Blog")
        </div>
        <div id="footer">
            Copyright © @DateTime.Now.Year BunnyBlog All Rights Reserved
        </div>
    </div>
</body>
</html>
