<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/external/css")
    @Styles.Render("~/internal/css")
    @Scripts.Render("~/external/js")
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="left-sidebar" class="col-3 mt-2 content-bg">
                @Html.Action("LeftSidebar", "Blog")
            </div>
            <div id="center-content" class="col-9 mt-2">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="footer" class="container">
        <div class="row mt-2 justify-content-center">
            Copyright © @DateTime.Now.Year &nbsp; @Html.LoginLink("Szpilką Po Mapie") &nbsp; All Rights Reserved
        </div>
    </div>

    <script>
    $(document).ready(function () {
        $('.carousel').carousel();
    });
    </script>
</body>
</html>


