@model Blog.WebApp.ViewModels.PostsViewModel

@{
    var currentPage = ViewContext.RequestContext.HttpContext.Request["pageNumber"] != null
      ? int.Parse(ViewContext.RequestContext.HttpContext.Request["pageNumber"])
      : 1;

    var totalPages = Math.Ceiling((double)Model.TotalPosts / 5);
}

@if (currentPage > 1 || currentPage < totalPages)
{
    var previousPageAction = string.Format("pageNumber={0}", currentPage - 1);
    var nextPageAction = string.Format("pageNumber={0}", currentPage + 1);

    if (ViewContext.RouteData.Values["action"].ToString()
      .Equals("search", StringComparison.OrdinalIgnoreCase))
    {
        var searchActionPrefix = string.Format("?searchPhrase={0}", ViewContext.RequestContext.HttpContext.Request.QueryString["searchPhrase"]);
        previousPageAction = string.Format("{0}&{1}", searchActionPrefix, previousPageAction);
        nextPageAction = string.Format("{0}&{1}", searchActionPrefix, nextPageAction);
    }
    else
    {
        previousPageAction = string.Concat("?", previousPageAction);
        nextPageAction = string.Concat("?", nextPageAction);
    }

    <div >
        <ul class="pagination justify-content-center mb-2">
            <li class="page-item" style="visibility: @(currentPage > 1 ? "visible" : "collapse")">
                <a class="page-link content-bg" href="@previousPageAction"><< Previous</a>
            </li>
            <li class="page-item" style="visibility: @(currentPage > 1 ? "visible" : "collapse")">
                <a class="page-link content-bg" href="@previousPageAction">@(currentPage - 1)</a>
            </li>
            <li class="page-item active">
                <a class="page-link content-bg" href="#">@(currentPage)</a>
            </li>
            <li class="page-item" style="visibility: @(currentPage < totalPages ? "visible" : "collapse")">
                <a class="page-link content-bg" href="@nextPageAction">@(currentPage+1)</a>
            </li>
            <li class="page-item" style="visibility: @(currentPage < totalPages ? "visible" : "collapse")">
                <a class="page-link content-bg" href="@nextPageAction">Next >></a>
            </li>
        </ul>
    </div>
}
