@model Blog.Core.Models.Post

<div class="post">
    <div class="post-meta">
        <div class="row">
            <div class="post-title">
                <h2>@Html.PostLink(Model, Model.Title)</h2>
            </div>
        </div>
        <div class="row">
            <div class="post-category">
                <span>Category: </span>@Html.CategoryLink(Model.Category)
            </div>
            <div class="post-tags">
                <span>Tags:</span>@Helpers.Tags(Html, Model.Tags)
            </div>
            <div class="posted-date">
                @Model.PostedOn.ToConfigLocalTime()
            </div>
        </div>
    </div>

    <div class="post-body">
        @Html.Raw(Model.ShortDescription)
    </div>

    <div class="post-foot">
        @Html.PostLink(Model, "continue...")
    </div>
</div>
