@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Blog.Core.Models
@using Blog.WebApp.Properties
@using Blog.WebApp.Utility
@using HtmlHelper = System.Web.Mvc.HtmlHelper

@helper CustomContent(MvcHtmlString mvcHtmlString)
{
    if (User.Identity.IsAuthenticated)
    {
        <span class="admin-only">
            @mvcHtmlString
        </span>
    }
}

@helper CustomContent(Func<object, HelperResult> html)
{
    @CustomContent(MvcHtmlString.Create(html.Invoke(null).ToHtmlString()))
}

@helper EditPostLink(HtmlHelper htmlHelper, Post post)
{
    @CustomContent(htmlHelper.ActionLink(Resources.EditLink, "EditPost", "Admin", new { postId = post.Id }, new { }))
}

@helper EditCategoryLink(HtmlHelper htmlHelper, Category category)
{
    @CustomContent(htmlHelper.ActionLink(Resources.EditLink, "EditCategory", "Admin", new { categoryId = category.Id }, new { }))
}

@helper EditTagLink(HtmlHelper htmlHelper, Tag tag)
{
    @CustomContent(htmlHelper.ActionLink(Resources.EditLink, "EditTag", "Admin", new { tagId = tag.Id }, new { }))
}

@helper AddPostLink(HtmlHelper htmlHelper)
{
    @CustomContent(htmlHelper.ActionLink(Resources.AddLink, "AddPost", "Admin"))
}

@helper AddCategoryLink(HtmlHelper htmlHelper)
{
    @CustomContent(htmlHelper.ActionLink(Resources.AddLink, "AddCategory", "Admin"))
}

@helper AddTagLink(HtmlHelper htmlHelper)
{
    @CustomContent(htmlHelper.ActionLink(Resources.AddLink, "AddTag", "Admin"))
}

@helper DeletePostLink(HtmlHelper htmlHelper, Post post)
{
    @CustomContent(htmlHelper.ActionLink(Resources.DeleteLink, "DeletePost", "Admin",
        new { postId = post.Id },
        new { onclick = JavaScript.Confirm(Resources.DeletePostConfirmationMessage, post.Title) }))
}

@helper DeleteCategoryLink(HtmlHelper htmlHelper, Category category)
{
    @CustomContent(htmlHelper.ActionLink(Resources.DeleteLink, "DeleteCategory", "Admin",
        new { categoryId = category.Id },
        new { onclick = JavaScript.Confirm(Resources.DeleteCategoryConfirmationMessage, category.Name) }))
}

@helper DeleteTagLink(HtmlHelper htmlHelper, Tag tag)
{
    @CustomContent(htmlHelper.ActionLink(Resources.DeleteLink, "DeleteTag", "Admin",
        new { tagId = tag.Id },
        new { onclick = JavaScript.Confirm(Resources.DeleteTagConfirmationMessage, tag.Name) }))
}

@helper ImagesLink(HtmlHelper htmlHelper)
{
    @CustomContent(htmlHelper.ActionLink(Resources.ImagesLink, "Images", "Admin"))
}

@helper DeleteImageLink(HtmlHelper htmlHelper, int imageId)
{
    @CustomContent(htmlHelper.ActionLink(Resources.DeleteLink, "DeleteImage", "Admin",
        new { imageId },
        new { onclick = JavaScript.Confirm(Resources.DeleteImageConfirmationMessage) }))
}
